body{
	margin: 0;
	font-family: Roboto Condensed, Helvetica, sans-serif;
	background-color: white;
	font-size: 20px
	line-height: 30px;
}

/*Header background, Image and Font */
header{
	background-color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: .5px;
}

header h1{
	color: #2f3e57;
	font-family: 'Share Tech Mono', monospace;
	font-size: 45px;

}
header img{
	border-radius: 100%;
    width: 200px;
    border: 10px solid #2f3e57;
}

/*Main Body Elements*/

main{
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
    color: #a3adc0;
}

main img{
	max-width: 100%;
}

h2{
	text-align: center;
	font-size: 30px;
	color: #2f3e57;
}
p{
	font-size: 20px;
}

/*Social Controls*/

h3{
	text-align: center;
	font-size: 30px;
	color: #2f3e57;
}
svg {
  max-width: 100%;
  height: auto;
	margin: auto;
}
a{
   align-content: center;
   fill: #2f3e57;
}
a:hover {
   fill: #A89B5E;
}

#links{
	display: flex;
	justify-content: center;
}


/*Footer*/

footer{
	background-color: #2f3e57;
	text-align: center;
	color: white;
	padding: 20px;
}
footer p{
	margin: 0;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {

  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
